.env/
__pycache__/
.vscode/
.pytest_cache/
.idea/
report.html
tests.log
github_passwords.yml
configurationz/selenium_config.local.yml
configurationz/*.yml
configurationz/*.json
configurationz/*.txt
style.css
reports/*.html
reports/screenshots/*.png
debug.log